{% extends 'base.html.twig' %}


{% block content %}
    <article>
        <div class="flex-item">
            <h3>{{ random_beer.data.name }}</h3>

            <img src="{{ random_beer.data.labels.medium }}" alt="beer pic here">
        </div>
        <div class="flex-item">
            <p>{{ random_beer.data.description }}</p>
        </div>
        <div class="flex-item">
            <ul>
                <li><a href="/home" class="link">Another random beer</a></li>

                <li>
                    {% for brewery in random_beer.data.breweries %}
                    <a id="brewery-beers"
                       data-id="{{ brewery.id }}"
                       href="/brewery/{{ brewery.id }}"
                       class="link">More from {{ brewery.name }}

                    </a>
                    {% endfor %}
                </li>

            </ul>
        </div>
    </article>

{% endblock %}